<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/homeCss.css}">
    <title>Page d'acceuil</title>
</head>
<body class="m-0 p-0 ">
<div id="moitie-1">
    <nav id="navbar" class="navbar" style="color: white">
        <a class="navbar-brand" href="#"  style="color: white">
            <img th:src="@{/images/taco-icon.png}" width="30" height="30" class="d-inline-block align-top" alt="">
            Fleau Tacos
        </a>
        <ul class="nav justify-content-end gap-5" id="nav-right" style="color: white">
            <li class="nav-item">
                <a style="color: white"np class="nav-link active" th:href="@{/login}">Se connecter</a>
            </li>
            <li class="nav-item">
                <a style="color: white" class="nav-link" th:href="@{/register}">S'enregistrer</a>
            </li>
        </ul>
    </nav>
    <header id="titre">
        <h1 style="font-family: Garamond">Taco Cloud</h1>
        <section id="description-site">
            Bienvenue sur le meilleur site de Tacos !
            <p>
        </section>
       <span>
           <a class="btn-titre" th:href="@{/register}">S'enregistrer</a>
           <a class="btn-titre" th:href="@{/login}"> Se connecter</a>
       </span>
    </header>
</div>
<footer class="card-footer d-flex justify-content-center align-items-end mt-10">
    <span>
        &#169;Fleau-corp
    </span>
</footer>
</body>
</html>